server:
  port: 80
spring:
  application:
    name: cloud-consumer-order

eureka:
  client:
    #表示是否将自己注册进EurekaServer默认为true
    register-with-eureka: false
    service-url:
      defaultZone:  http://eureka7001.com:7001/eureka/
feign:
  hystrix:
    enabled: true
